<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        
    </div>

    <app-perfil></app-perfil>
    <app-edu></app-edu>
    <app-exp></app-exp>
    <app-acercade></app-acercade>
    <app-hardand-soft></app-hardand-soft>
    <app-proyectos></app-proyectos>

    <div class="footer">

    </div>
</body>
</html>
