.footer{
    height: 100px;
	background-size:cover;	
    background-color: black;
}


.row{
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
    width:100%;
     }
    