

       







 <div *ngIf="isUserLogged" style="display:flex;justify-content:space-evenly;flex-wrap: wrap;">
    
        <div>
            <img  class="fotoperfil" src="{{persona.foto || 'https://cdn0.iconfinder.com/data/icons/communication-456/24/account_profile_user_contact_person_avatar_placeholder-512.png'}}">
        </div>
        <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
            <p style="font-weight:600;font-size:150%;">Nombre y Apellido</p>
            <p style="font-weight:300;font-size:100%;">{{persona.nombre}}  {{persona.apellido}}</p>
        </div>
    <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
            <p style="font-weight:600;font-size:150%;">Teléfono</p>
            <p style="font-weight:300;font-size:100%;">{{persona.telefono}}</p>
    </div>
    <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
            <p style="font-weight:600;font-size:150%;">Email</p>
            <p style="font-weight:300;font-size:100%;">{{persona.correo}}</p>
    </div>
    <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
    <p style="font-weight:600;font-size:150%;">Dirección</p>
    <p style="font-weight:300;font-size:100%;">{{persona.domicilio}} </p>
   </div> 

</div>

<div>
  <div style="display: flex;justify-content: space-between;align-items:center;">
      <p style="padding: 10px;" class="subtitulo"> Acerca de: </p><span style="padding-right: 40px;"class="icon-pencil">(click)="onEditUser"</span>
  </div>
   <p>{{persona.acercade}}</p>
</div> 



<div id="persona" >
  <!-- Modal -->
  <div  id="personaForm" tabindex="-1" aria-labelledby="educacionFormLabel" aria-hidden="true">
    <div >
      <div >
      
        <div class="modal-body">
          <form [formGroup]="personaForm">

            <div class="form-group">
              <label for="nombre">Nombre</label>
              <div >
                <input type="text" name="persona" formControlName="nombre" class="form-control" required>
              </div>
            </div>

            <div >
              <label for="fecha_nac" >Fecha de Nacimiento </label>
              <div >
                <input type="date" name="fecha_nac" formControlName="fecha_nac" class="form-control" required>
              </div>
            </div>
            <div >
              <label for="apellido" >Apellido</label>
              <div >
                <input type="text" name="Apellido" formControlName="apellido" class="form-control" required>
              </div>
            </div>

            <div>
              <label for="correo">Correo</label>
              <div>
                <input type="text" name="Correo" formControlName="correo" class="form-control" required>
              </div>
            </div>
            
            <div>
              <label for="domicilio">Nivel</label>
              <div>
                <input type="text" name="Domicilio" formControlName="domicilio" class="form-control" required>
              </div>
            </div>

            <div>
              <label for="telefono">Nivel</label>
              <div>
                <input type="text" name="telefono" formControlName="telefono" class="form-control" required>
              </div>
            </div>

            <div>
              <label for="acercade">Acerca de</label>
              <div>
                <input type="text" name="Acercade" formControlName="acercade" class="form-control" required>
              </div>
            </div>

            <div [hidden]="true">
              <label for="contrasena">Contraseña</label>
              <div>
                <input type="text" name="Contraseña" formControlName="contrasena" class="form-control" required>
              </div>
            </div>

            <div>
              <label for="foto">Foto</label>
              <div>
                <input type="text" name="Foto" formControlName="foto" class="form-control" required>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>

  