<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        <img class="fotopequeña" src=""
        alt="imagen 1">
    </div>

    <app-perfil></app-perfil>


    
    <app-acercade></app-acercade>
    <app-eduy-exp></app-eduy-exp>   
    <app-hardand-soft></app-hardand-soft>
    <app-proyectos></app-proyectos>

    <div class="footer">
        <img class="fotopequeña" src=""
        alt="imagen 1">
    </div>
</body>
</html>
