.fotopequeña{
	background-size:cover;
	
	margin: 2px;
	 float:left; 
	width: 45px;
	height: 45px;
  } 

   .columna1{

    width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    border-radius: 20px;
border: 1px solid blueviolet;
padding-left: 20px;
}

.listafoto{
	display:flex;
	flex-direction: column;
}

.subtitulo2{
    font-weight: 600;
    font-size: 130%;
    text-indent: 20px;
}
.subtitulo{
    font-size: 180%;
    font-weight: 600;
}