<div  class="columna1">
    <div>


    <span style="display: flex;justify-content: space-between;align-items: center;">
      <p style="padding: 10px;" class="subtitulo"> Experiencia </p><app-button (btnClick)="toggleAddTask2()"  style="margin:20px"
        text="{{ showAddTask2 ? 'close': 'Agregar una nueva Experiencia'}}"><i class="fa-solid fa-plus"></i></app-button>
        
    </span>
    
    
    <div id="experiencia">
        <!-- Modal -->
        <div  id="experienciaForm" tabindex="-1" aria-labelledby="experienciaFormLabel" aria-hidden="true">
          <div >
            <div >
            
              <div class="modal-body">
          
                
                <form *ngIf="showAddTask2" [formGroup]="experienciaForm" (ngSubmit)="onSubmit()">
                  <input type="hidden" name="id" formControlName="id">
      
                  <div class="form-group">
                    <label class="subtitulo2" for="nombre_empresa">Nombre de la empresa</label>
                    <div >
                      <input type="text" name="nombre_empresa" formControlName="nombre_empresa" class="form-control" required>
                    </div>
                  </div>
      
                  <div >
                    <label for="fechainicio" >Fecha de inicio</label>
                    <div >
                      <input type="date" name="fechainicio" formControlName="fechainicio" class="form-control" required>
                    </div>
                  </div>
                  <div >
                    <label for="fechafin" >Fecha de finalizacion</label>
                    <div >
                      <input type="date" name="fechafin" formControlName="fechafin" class="form-control" required>
                    </div>
                  </div>
      
                  <div>
                    <label for="tipo_empleo">Tipo de empleo</label>
                    <div>
                      <input type="text" name="tipo_empleo" formControlName="tipo_empleo" class="form-control" required>
                    </div>
                  </div>
                  
                  <div>
                    <label for="descripcion">Descripcion</label>
                    <div>
                      <input type="text" name="descripcion" formControlName="descripcion" class="form-control" required>
                    </div>
                  </div>
      
                  <div>
                    <label for="es_trabajo_actual">Trabajo actual?</label>
                    <div>
                      <input type="text" name="es_trabajo_actual" formControlName="es_trabajo_actual" class="form-control" required>
                    </div>
                  </div>
      
    
                  <div >
                    <button type="submit"><span *ngIf="isEdicion2">Editar</span><span *ngIf="!isEdicion2">Agregar</span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      
    
        
    
        <div *ngIf="isUserLogged">
          <div>
            <ul  id="expList">
              <li *ngFor="let experiencia of experienciaList; let i = index">
                <div class="listafoto">
                    <div>
                      <div style="display:flex ; justify-content:space-between">
                        <h3 class="subtitulo2"  id="exp-nombre_empresa">{{ experiencia.nombre_empresa }} </h3>
                        <div *ngIf="!showAddTask2">
                          <fa-icon [icon]="faPencil" (click)="onEditExpLaboral(i)"  ></fa-icon>
                          <fa-icon [icon]="faTrash" (click)="onDeleteExpLaboral(i)" style="margin:20px"  ></fa-icon>
                        </div>
                      </div>
                        <p class="subtitulo2">{{experiencia.es_trabajo_actual}}</p>
                        <p><span  class="textocolumna" id="edu-nombre_titulo">{{ experiencia.descripcion }}</span>, <span id="edu-nivel">{{ experiencia.tipo_empleo}}</span>,
                        </p>
                        <p><span id="exp-fechainicio">{{ experiencia.fechainicio }}</span>   /   <span id="exp-fechafin">{{ experiencia.fechafin}}</span></p>
                      </div>       
                </div>
                <div >
            
                </div>
              </li>
            </ul>
          </div>
    
          </div> 
        </div>
    </div>
</div>