.fotopequeña{
	background-size:cover;
	
	margin: 2px;
	 float:left; 
	width: 45px;
	height: 45px;
  } 

   .columna2{
    float:left;
    width: 80%;
    padding: 40px;
    height: auto;
border: 1px solid blueviolet;
}

.listafoto{
	display:flex;
	flex-direction: column;
}

.subtitulo2{
    font-weight: 600;
    font-size: 130%;
    text-indent: 20px;
}
.subtitulo{
    font-size: 180%;
    font-weight: 600;
}