<div  class="columna2">
<span style="display: flex;justify-content: space-between;align-items: center;">
  <p style="padding: 10px;" class="subtitulo"> Educación </p><app-button (btnClick)="toggleAddTask()"  
    text="{{ showAddTask ? 'close': 'Agregar una nueva educación'}}"><i class="fa-solid fa-plus"></i></app-button>
    
</span>


<div id="educacion">
    <!-- Modal -->
    <div  id="educacionForm" tabindex="-1" aria-labelledby="educacionFormLabel" aria-hidden="true">
      <div >
        <div >
        
          <div class="modal-body">
      
            
            <form *ngIf="showAddTask" [formGroup]="educacionForm" (ngSubmit)="onSubmit()">
              <input type="hidden" name="id" formControlName="id">
  
              <div class="form-group">
                <label for="establecimiento">Establecimiento</label>
                <div >
                  <input type="text" name="establecimiento" formControlName="establecimiento" class="form-control" required>
                </div>
              </div>
  
              <div >
                <label for="año_ingreso" >Año de ingreso</label>
                <div >
                  <input type="date" name="año de ingreso" formControlName="ano_ingreso" class="form-control" required>
                </div>
              </div>
              <div >
                <label for="año_egreso" >Año de egreso</label>
                <div >
                  <input type="date" name="año de egreso" formControlName="ano_egreso" class="form-control" required>
                </div>
              </div>
  
              <div>
                <label for="nombre_titulo">Nombre del titulo</label>
                <div>
                  <input type="text" name="Nombre del titulo" formControlName="nombre_titulo" class="form-control" required>
                </div>
              </div>
              
              <div>
                <label for="nivel">Nivel</label>
                <div>
                  <input type="text" name="Nivel" formControlName="nivel" class="form-control" required>
                </div>
              </div>
  
              <div>
                <label for="img">imagen</label>
                <div>
                  <input type="text" name="img" formControlName="img" class="form-control" required>
                </div>
              </div>
  


              <div >
                <button type="submit"><span *ngIf="isEdicion">Editar</span><span *ngIf="!isEdicion">Agregar</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  



    <div>
  
      <div>
        <ul  id="eduList">
          <li *ngFor="let educacion of educacionList; let i = index">
            <div class="listafoto">
              <div *ngIf="isUserLogged" style="display:flex ; justify-content:space-around">
             <img id="edu-img" class="fotopequeña" src="{{educacion.img || 'https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png'}}">
               
                    <h3 class="subtitulo2"  id="edu-establecimiento">{{ educacion.establecimiento}} </h3> 
                    <div>
                      <button  data-bs-toggle="modal" data-bs-target="#educationForm" (click)="onEditEducacion(i)">editacion<i class="fa fa-pen"></i></button>
                      <button (click)="onDeleteEducacion(i)">borracion<i class="fa fa-trash"></i></button>
                    </div>
                  </div> 
                   <div>
                    <p><span  class="textocolumna" id="edu-nombre_titulo">{{ educacion.nombre_titulo }}</span> <span id="edu-nivel">({{ educacion.nivel}})</span>
                    </p>
                    <p><span id="edu-start">{{ educacion.ano_ingreso }}</span> - <span id="edu-año_egreso">{{ educacion.ano_egreso}}</span></p>
                  </div>
               
           
            </div>
          </li>
        </ul>
      </div>

      </div> 
    </div>
    </div>