


            <div class="columna1">
                <span style="display: flex;justify-content: space-between;align-items: center;">
                    <p class="subtitulo"> Experiencia </p><span class="icon-plus"></span>
                </span>
                <div class="listafoto">


                    <div style="display: flex;justify-content: space-between;align-items:flex-start;padding: 30px;">
                        <div>
                            <img class="fotopequeña" src="./imagenes/andrii-leonov-XNeW3Hr_XCM-unsplash.jpg"
                                alt="imagen 1">
                            <p class="subtitulo2"> Experiencia1 </p>
                            <p class="textocolumna">Nunc vehicula enim at pulvinar pharetra. Pellentesque lobortis tincidunt aliquet.</p>
                            <p class="textocolumna"> Donec felis diam, commodo eget erat eu, malesuada imperdiet felis.</p>
                        </div>
                        <div>
                        <span style="width: auto;padding: 10px;"> <span class="icon-pencil"></span> </span>
                        <span style="width: auto;padding: 10px;"> <span class="icon-bin"></span> </span>
                    </div>
                    </div>
                    <div style="display: flex;justify-content: space-between;align-items:flex-start;padding: 30px;">
                        <div>
                            <img class="fotopequeña" src="./imagenes/andrii-leonov-XNeW3Hr_XCM-unsplash.jpg"
                                alt="imagen 1">
                            <p class="subtitulo2"> Experiencia2 </p>
                            <p class="textocolumna">Sed ornare velit tortor, non tincidunt ex feugiat ut.</p>
                            <p class="textocolumna"> Donec felis diam, commodo eget erat eu, malesuada imperdiet felis.</p>
                        </div>
                        <div>
                        <span style="width: auto;padding: 10px;"> <span class="icon-pencil"></span> </span>
                        <span style="width: auto;padding: 10px;"> <span class="icon-bin"></span> </span>
                    </div>
                    </div>
                    <div style="display: flex;justify-content: space-between;align-items:flex-start;padding: 30px;">
                        <div>
                            <img class="fotopequeña" src="./imagenes/andrii-leonov-XNeW3Hr_XCM-unsplash.jpg"
                                alt="imagen 1">
                            <p class="subtitulo2"> Experiencia3 </p>
                            <p class="textocolumna"> Mauris sit amet auctor enim, ac maximus turpis.</p>
                            <p class="textocolumna"> Donec felis diam, commodo eget erat eu, malesuada imperdiet felis.</p>
                        </div>
                        <div>
                        <span style="width: auto;padding: 10px;"> <span class="icon-pencil"></span> </span>
                        <span style="width: auto;padding: 10px;"> <span class="icon-bin"></span> </span>
                    </div>
                    </div>
                    <div style="display: flex;justify-content: space-between;align-items:flex-start;padding: 30px;">
                        <div>
                            <img class="fotopequeña" src="./imagenes/andrii-leonov-XNeW3Hr_XCM-unsplash.jpg"
                                alt="imagen 1">
                            <p class="subtitulo2"> Experiencia4 </p>
                            <p class="textocolumna">Phasellus purus libero, rhoncus sed laoreet id, ultrices a nulla.</p>
                            <p class="textocolumna"> Donec felis diam, commodo eget erat eu, malesuada imperdiet felis.</p>
                        </div>
                        <div>
                        <span style="width:auto;padding: 10px;"> <span class="icon-pencil"></span> </span>
                        <span style="width: auto;padding: 10px;"> <span class="icon-bin"></span> </span>
                    </div>
                    </div>

                </div>
            </div>