
<div>
    <div style="display:flex;justify-content:space-evenly;flex-wrap: wrap;">
        <div class="fotoperfil" style="background-color:blue;"></div>
        <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
            <p style="font-weight:600;font-size:150%;">Nombre y Apellido</p>
            <p style="font-weight:300;font-size:100%;">Nombre  y apeelido</p>
        </div>
        <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
            <p style="font-weight:600;font-size:150%;">Teléfono</p>
            <p style="font-weight:300;font-size:100%;">12345678</p>
        </div>
        <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
            <p style="font-weight:600;font-size:150%;">Email</p>
            <p style="font-weight:300;font-size:100%;"></p>
        </div>
        <div>
    <p style="font-weight:600;font-size:150%;">Dirección</p>
    <p style="font-weight:300;font-size:100%;">Arsgs, Bsfasdf, fasdfasdf </p>
   </div> 
    </div>


    