<div>
    <span style="display: flex;justify-content: space-between;align-items: center;">
        <p style="padding-left: 30px;" class="subtitulo"> Hard and soft skills</p><span style="padding-right: 40px;" class="icon-plus"></span>
    </span> 
    <div style="display:flex;justify-content: center;">
    <p class="subtitulo2">Progreso1</p>
    </div>
    <div id="progressbar">
        <div></div>
      </div>
      <div style="display:flex;justify-content: center;">
        <p class="subtitulo2">Progreso2</p>
        </div>
        <div id="progressbar">
            <div></div>
          </div>
          <div style="display:flex;justify-content: center;">
            <p class="subtitulo2">Progreso3</p>
            </div>
            <div id="progressbar">
                <div></div>
              </div>
</div>
