

        <div style="border-top:1px solid blueviolet;">
           
            <span style="display: flex;justify-content: space-between;align-items: center;padding: 20px;">
                <p style="padding-left: 10px;" class="subtitulo"> Proyectos </p><span style="padding-right:40px;" class="icon-plus"></span>
            </span>
            <div class="listafoto">


                <div style="display: flex;justify-content: space-between;align-items:flex-start;padding: 30px;">
                    <div>
                      
                        <p class="NombreProyecto"> Proyecto1 </p>
                        <p class="textocolumna">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam erat.</p>
                    </div>
                    <div>
                    <span style="width: auto;padding: 10px;"> <span class="icon-pencil"></span> </span>
                    <span style="width: auto;padding: 10px;"> <span class="icon-bin"></span> </span>
                </div>
                </div>
                <div style="display: flex;justify-content: space-between;align-items:flex-start;padding: 30px;">
                    <div>
                      
                        <p class="NombreProyecto"> Proyecto2 </p>
                        <p class="textocolumna">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus bibendum lorem, quis porttitor tellus.</p>
                    </div>
                    <div>
                    <span style="width: auto;padding: 10px;"> <span class="icon-pencil"></span> </span>
                    <span style="width: auto;padding: 10px;"> <span class="icon-bin"></span> </span>
                </div>
                </div>
                <div style="display: flex;justify-content: space-between;align-items:flex-start;padding: 30px;">
                    <div>
                     
                        <p class="NombreProyecto"> Proyecto3 </p>
                        <p class="textocolumna">In nec dictum purus. Nulla sed tincidunt ipsum, eu aliquet diam. Sed eget tincidunt tortor, at ullamcorper ipsum. Donec aliquam, ipsum ut lobortis iaculis, tortor lectus posuere ipsum, in hendrerit ipsum urna non diam.</p>
                    </div>
                    <div>
                    <span style="width: auto;padding: 10px;"> <span class="icon-pencil"></span> </span>
                    <span style="width: auto;padding: 10px;"> <span class="icon-bin"></span> </span>
                </div>
                </div>
                <div style="display: flex;justify-content: space-between;align-items:flex-start;padding: 30px;">
                    <div>
            
                        <p class="NombreProyecto"> Proyecto4 </p>
                        <p class="textocolumna"> Vivamus pharetra mattis dui, eu aliquam nisl faucibus eget. </p>
                    </div>
                    <div>
                    <span style="width:auto;padding: 10px;"> <span class="icon-pencil"></span> </span>
                    <span style="width: auto;padding: 10px;"> <span class="icon-bin"></span> </span>
                </div>
                </div>

            </div>
       
            </div>
        

            
    <div>
        <div>
          <ul  id="proyectoList">
            <li  *ngFor="let proyecto of proyectoList; let i = index">
                <div style="display:flex;justify-content:space-between">
              <h3 class="subtitulo2" id="exp-nombre_empresa">{{ proyecto.nombre }} </h3>
              <p>{{proyecto.Ano}}</p>
            </div>
            <p>{{proyecto.descripcion_proy}}</p>
            </li>
          </ul>
         
  </div>
