<div class="columna2">
    <span style="display: flex;justify-content: space-between;align-items: center;">
        <p style="padding: 10px;" class="subtitulo"> Educación </p><span class="icon-plus"></span>
    </span>
    <div class="listafoto">


        <div style="display: flex;justify-content: space-between;align-items:flex-start;padding: 30px;">
            <div>
                <img class="fotopequeña" src="./imagenes/andrii-leonov-XNeW3Hr_XCM-unsplash.jpg"
                    alt="imagen 1">
                <p class="subtitulo2"> Estudio1 </p>
                <p class="textocolumna">Duis a molestie lectus. Sed a tortor non augue sollicitudin auctor.</p>
                <p class="textocolumna">Duis a molestie lectus. Sed a tortor non augue sollicitudin auctor.</p>
                <p class="textocolumna">Duis a molestie lectus. Sed a tortor non augue sollicitudin auctor.</p>
            </div>
            <div>
            <span style="width: auto;padding: 10px;"> <span class="icon-pencil"></span> </span>
            <span style="width: auto;padding:10px;"> <span class="icon-bin"></span> </span>
        </div>
        </div>
        <div style="display: flex;justify-content: space-between;align-items:flex-start;padding: 30px;">
            <div>
                <img class="fotopequeña" src="./imagenes/andrii-leonov-XNeW3Hr_XCM-unsplash.jpg"
                    alt="imagen 1">
                <p class="subtitulo2"> Estudio2 </p>
                <p class="textocolumna"> Donec felis diam, commodo eget erat eu, malesuada imperdiet felis.</p>
                <p class="textocolumna"> Donec felis diam, commodo eget erat eu, malesuada imperdiet felis.</p>
                <p class="textocolumna"> Donec felis diam, commodo eget erat eu, malesuada imperdiet felis.</p>
            </div>
            <div>
            <span style="width: auto;padding: 10px;"> <span class="icon-pencil"></span> </span>
            <span style="width: auto;padding: 10px;"> <span class="icon-bin"></span> </span>
        </div>
        </div>
        <div style="display: flex;justify-content: space-between;align-items:flex-start;padding: 30px;">
            <div>
                <img class="fotopequeña" src="./imagenes/andrii-leonov-XNeW3Hr_XCM-unsplash.jpg"
                    alt="imagen 1">
                <p class="subtitulo2"> Estudio3 </p>
                <p class="textocolumna">In hac habitasse platea dictumst. Donec felis diam, commodo eget erat eu, malesuada imperdiet felis.</p>
                <p class="textocolumna"> Donec felis diam, commodo eget erat eu, malesuada imperdiet felis.</p>
                <p class="textocolumna"> Donec felis diam, commodo eget erat eu, malesuada imperdiet felis.</p>
            </div>
            <div>
            <span style="width: auto;padding: 10px;"> <span class="icon-pencil"></span> </span>
            <span style="width: auto;padding: 10px;"> <span class="icon-bin"></span> </span>
        </div>
        </div>
        <div style="display: flex;justify-content: space-between;align-items:flex-start;padding: 30px;">
            <div>
                <img class="fotopequeña" src="./imagenes/andrii-leonov-XNeW3Hr_XCM-unsplash.jpg"
                    alt="imagen 1">
                <p class="subtitulo2"> Estudio4 </p>
                <p class="textocolumna" style="width:60%;"> Nunc luctus sem in dignissim varius.Nunc luctus sem in dignissim varius.</p>
                <p class="textocolumna"> Donec felis diam, commodo eget erat eu, malesuada imperdiet felis.</p>
                <p class="textocolumna"> Donec felis diam, commodo eget erat eu, malesuada imperdiet felis.</p>
            </div>
            <div>
            <span style="width:auto;padding: 10px;"> <span class="icon-pencil"></span> </span>
            <span style="width: auto;padding: 10px;"> <span class="icon-bin"></span> </span>
        </div>
        </div>

    </div>
</div>

